/* Business-specific colors for Cronjob history run statuses */

.status-success {
  background-color: var(--tblr-success) !important;
  color: #fff !important;
}

.status-error {
  background-color: var(--tblr-danger) !important;
  color: #fff !important;
}

.status-running {
  background-color: var(--tblr-primary) !important;
  color: #fff !important;
}

.status-other {
  background-color: var(--tblr-secondary) !important;
  color: #fff !important;
}
